h1 {
    color: darkolivegreen;
    text-align: center;
  }
    
  h2 {
    background-color: darkolivegreen;
    font-style: oblique;
    text-align: center;
  }

p.intro {
    width: 50%;
    font-style: italic;
  }

p.author {
    width: 75%;
    font-style: italic;
    font-weight: bold;
  }

.important {
    color: red;
  }